
@import "../mixins.scss";

.profile-basic-icon {
    display: inline-block;
    background-image: url("../../../img/22.svg");
    background-size: cover;
    width: 3rem;
    height: 3rem;
}

.breast-milk-feed {
    display: inline-block;
    background-image: url("../../../img/23.svg");
    background-size: cover;
    width: 3rem;
    height: 3rem;
}

.baby-july-situation {
    display: inline-block;
    background-image: url("../../../img/24.svg");
    background-size: cover;
    width: 3rem;
    height: 3rem;
}

.block-birthing-icon {
    display: inline-block;
    background-image: url("../../../img/25.svg");
    background-size: cover;
    width: 3rem;
    height: 3rem;

}
