@import "../mixins.scss";

.baby {
    .footer-nav {
        display: flex;
        .basic-info, .combined-immunization, .analysis-result {
            line-height: 1.4;
            flex: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 1.1rem 0;
            @include dpr(font-size, 15px);
            text-align: center;
            opacity: 0.5;
            &.active {
                opacity: 1;
            }
        }
    }
}

@import "./baby-basic-info.scss";
@import "./baby-combined-immunization.scss";
@import "./baby-laboratory-result.scss";
