@import "../mixins.scss";

.profile-hepatitis-b, .profile-pregnant, .profile-deliver, .profile-queue-complete {
    padding-top: 1.2rem;
}

.visit-type-2, .visit-type-3 {
    padding-top: 2.6rem;
}

.content-wrap.analysis-result-page {
    margin-top: 0;
}

.analysis-result-page {
    background-color: #f1f7fc;
    .check-date {
        color: #8a94a6;
        @include font-size(13px)
    }
}
