@import "../mixins.scss";

.mother {
    @import './basic-info.scss';
    @import './liver-protection-medicine.scss';
    @import './analysis-result.scss';
    @import './obstetric-examination.scss';
    .footer-nav {
        display: flex;
        .basic-info, .treat-situation, .obstetric-check, .analysis-result {
            line-height: 1.4;
            flex: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 1.1rem 0;
            @include font-size(15px);
            text-align: center;
            opacity: 0.5;
            &.active {
                opacity: 1;
            }
        }
    }
}
