@import "../mixins.scss";

.table-list {
    .head {
        display: flex;
        padding: 1rem 2.6rem;
        border-bottom: 1px solid #eaeef0;
        .item {
            color: #8a94a6;
        }
    }
    .row {
        display: flex;
        padding: 2.5rem 2.6rem 0.75rem;
        &:not(:last-child) {
            border-bottom: 1px solid #eaeef0;
        }
    }

    .row-desc {
        width: 6.6rem;
    }

    .main-desc {
        color: #3c4747;
        font-size: 13px;
    }

    .sub-desc {
        opacity: 0.7;
        color: #8a94a6;
        font-size: 11px;
    }

    .item {
        flex: 1;
        @include font-size(13px);
        color: #616161;
        text-align: right;
    }

}
