.liver-icon-1 {
    display: inline-block;
    background-image: url("../../../img/6.svg");
    background-size: cover;
    width: 3rem;
    height: 3rem;
}

.liver-icon-2 {
    display: inline-block;
    background-image: url("../../../img/7.svg");
    background-size: cover;
    width: 3rem;
    height: 3rem;
}

.liver-icon-3 {
    display: inline-block;
    background-image: url("../../../img/8.svg");
    background-size: cover;
    width: 3rem;
    height: 3rem;
}

