@import "./css/mixins.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

html[data-dpr="2"] {
    font-size: 20px;
}

html[data-dpr="3"] {
    font-size: 30px;
}

body {
    font-size: 14px;
    @include dpr(font-size, 14px);
}

.hidden {
    display: none;
}

.relative {
    position: relative;
}

.flex {
    display: flex;
}

.flex1 {
    flex: 1;
}

.mt-7 {
    margin-top: 0.7rem;
}

.bg-white {
    background: #fff;
}

.rotate90 {
    transform: rotate(90deg);
}
